apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: >-
      gitops-complete-production-e2e-pipeline:apps/Deployment:default/complete-production-e2e-deployment
  labels:
    app: complete-production-e2e-app
  name: complete-production-e2e-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: complete-production-e2e-app
  template:
    metadata:
      labels:
        app: complete-production-e2e-app
    spec:
      containers:
        - name: complete-production-e2e-app
          image: abuchijoe/complete-production-e2e-pipeline:latest

          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 20
            failureThreshold: 3

          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
