apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: >-
      gitops-complete-production-e2e-pipeline:apps/Deployment:default/Terraform-Pipeline-Production
  labels:
    app: Terraform-Pipeline-Production
  name: Terraform-Pipeline-Production-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: Terraform-Pipeline-Production
  template:
    metadata:
      labels:
        app: Terraform-Pipeline-Production
    spec:
      containers:
        - name: Terraform-Pipeline-Production
          image: abuchijoe/register-app-pipeline:latest

          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 10
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 20
            failureThreshold: 3

          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -Xms256m
                -Xmx768m
                -XX:+UseContainerSupport
                -XX:+ExitOnOutOfMemoryError

          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1
              memory: 1024Mi
